<app-list-key-special></app-list-key-special>
<!--<div #trappedFocus tabindex="0" cdkTrapFocus>
  <ul>
    <li tabindex="0">Stacy</li>
    <li tabindex="0">Andrushchak</li>
    <li tabindex="0">Whole</li>
    <li tabindex="0" >Foods</li>
  </ul>
 </div>
<div class="users-page">
  <div class="users-age__main">
    <h3 class="users-page__main__heading">
      Users List
    </h3>
    <div class="users-page__main__search">
      <input [(ngModel)]="searchQuery" placeholder="search users by name" (keyup)="handleKeyUp($event)">
    </div>
    <div class="users-page__main__list" #element tabindex="0" >
       <app-list-item #elementChild #elementChild tabindex="0" 
        *ngFor="let user of users" 
        class="users-page__main__list__item"
        [item]="user"
        (itemSelected)="showUserInfo($event)"
        [class.active]="user.id===1">
      </app-list-item> 
    </div>
  </div>
 </div>

 <div tabindex="0">
  <ul>
    <li>Yuliya</li>
    <li>Andrushchak</li>
    <li>Whole</li>
    <li>Foods</li>
  </ul>
 </div> -->